h1{
    color: lightsky;
    background-color: gray;
    padding: 10px;
    border: 1px solid lightsky;
    border-radius: 10px;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;

}

p{
    color: blueviolet;
    background-color: skyblue;
    font-size: larger;
}